@import "./breakPoints.scss";



.card{
    width: 270px;
    height: 370px;
    margin: 10px 15px;
    position: relative;
    justify-self: center;
    border-radius: 5px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;

    @media (max-width: $movie-panel-breakpoint-big) {
        width: 320px;
        height: 420px;

   }
    @media (max-width: $movie-panel-breakpoint-medium) {
         width: 370px;
         height: 470px;

    }
    @media (max-width: 850px) {
        width: 300px;
        height: 400px;

   }
   @media (max-width: 700px) {
    width: 270px;
    height: 370px;

}
    @media (max-width: $movie-panel-breakpoint-pre-small) {
        width: 200px;
        height: 300px;
    }
    @media (max-width: 500px) {
        width: 170px;
        height: 270px;
    }
    @media (max-width: $movie-panel-breakpoint-small) {
        width: 310px;
        height: 420px;
        margin: 10px 0px;
        padding: 5px 5px;
    }
}
.display{
    display: none;
}